@charset "utf-8";
/* CSS Document */

body {
	font-family: 'Patrick Hand', cursive;
	margin:0;
	background-color:rgba(239,252,252,1.00);
	color:#292929;
}
.header {
	width:100%;
	background-color:rgba(90,221,223,1.00);
	background-image: url("h.png");
	background-repeat: no-repeat;
	background-size:cover;
	background-position: center;
	height:230px;
	font-size:xx-large;
	text-align:center;
	vertical-align:middle;
}
.head {
	padding:60px 0 0 0 ;
}
.cont1, .cont2 {
	display: table;
	margin:auto;
	min-height:150px;
	height:100%;
	overflow: auto; 
}
.cont1 {
	background-color:rgba(90,221,223,0.2);
	vertical-align:middle;
	margin:auto;
}
.cont2 {
	background-color:rgba(90,221,223,0.4);
}
.text {
	display:table-cell;
	text-align:justify;
	padding:20px;
	margin:auto;
	height:100%;
	vertical-align:middle;
}
.text h2, .me h2 {
	text-align:center;
	padding:5px;
	margin:0;
}
.me {
	padding:0;
	margin:0;
	background-color:rgba(90,221,223,1);
	overflow: auto; 
	padding:20px;
	text-align:center;
}
.imag{
	vertical-align:middle;
	display:table-cell;
    width: 30%;
	height:inherit;
	padding:0;
	margin:0;
	text-align:center;
}
.imga {
	max-height:40%;
	max-width:100%;
	margin:0;
	padding:0;
}
h1,h5 {
	padding:0;
	margin:0;
}
h2 {
	padding:5px;
	margin:0;
}
a {
text-decoration:none;
color:#292929;
	